<% layout('layouts/boilerplate') %>
<link rel="stylesheet" href="/stylesheets/aboutp.css">

<div class="container text-center">

    <div class="row">
        <div class="card mb-3 aim">
            <div class="card-body">
              <h2 class="card-title aim-title fs-1">OUR AIM</h2>
<br>
              <div class="clearfix">
                <img src="https://res.cloudinary.com/cloud0310/image/upload/v1662665204/Tee-Rex/aim_img_nqj4cx.jpg" class=" rounded col-md-6 float-md-end mb-3 ms-md-3" alt="...">
              
                <p>
                  A paragraph of placeholder text. We're using it here to show the use of the clearfix class. We're adding quite a few meaningless phrases here to demonstrate how the columns interact here with the floated image.
                </p>
              
                <p>
                  As you can see the paragraphs gracefully wrap around the floated image. Now imagine how this would look with some actual content in here, rather than just this boring placeholder text that goes on and on, but actually conveys no tangible information at. It simply takes up space and should not really be read.
                </p>
              
                <p>
                  And yet, here you are, still persevering in reading this placeholder text, hoping for some more insights, or some hidden easter egg of content. A joke, perhaps. Unfortunately, there's none of that here.
                </p>
              </div>
              <a class="btn btn-success my-3" target="_blank" href="https://wa.me/7349636009">CONTACT US</a>
            </div>
          </div>
      </div><br>
      <hr>
      <br>

    <div class="row">
        <div class="col">
            <h1  class="fs-1">OUR TEAM</h1>
        </div>
    </div><BR></BR>
    <div class="row">
       
        <div class="col-4 me-auto">
            <img src="https://res.cloudinary.com/cloud0310/image/upload/v1662658135/Tee-Rex/aadhyap_pezclz.jpg" class="rounded-circle mx-auto  img-thumbnail" alt="...">
            <ul class="list-group list-group-flush">
                <li class="list-group-item fs-4">AADHYA DEVANGAN</li>
                <li class="list-group-item">FOUNDER</li>
                <li class="list-group-item">BTech in Civil Engineering, IIT(ISM), DHANBAD</li>
                <li class="list-group-item"><a class="nav-link" href="#">656456464</a></li>
              </ul>
        </div>
        <div class="col-4 ">
            <img src="https://res.cloudinary.com/cloud0310/image/upload/v1662658136/Tee-Rex/vivekp_ue37is.jpg" class="rounded-circle mx-auto img-thumbnail" alt="...">
            <ul class="list-group list-group-flush">
                <li class="list-group-item fs-4">VIVEK KUMAR</li>
                <li class="list-group-item">CO- FOUNDER </li>
                <li class="list-group-item">BTech in Mining Engineering, IIT(ISM), DHANBAD</li>
                <li class="list-group-item"><a class="nav-link" href="#">898948448</a> </li>     
              </ul>
        </div>
      </div>   
      <BR></BR>
      
</div>

